.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(157, 225, 230);
    padding: 50px;
    margin: auto;
    max-width: 30%;
    height: 50vh;
    border: 1px solid rgb(5, 38, 71);
    border-radius: 15px;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(46, 153, 241);
    max-width: 80%;
    margin: auto;
    padding: 50px;
    border: 1px solid rgb(5, 38, 71);
    border-radius: 15px;
    box-shadow:5px 5px 10px 2px #888888; ;
    height: 30vh;
    overflow: hidden;
    text-size-adjust: 100%;
    min-width: 0;
}

p {
    font-size: x-large;
    font-weight: bolder;
}